{% extends "stream/base.html" %}
{% load render_table from django_tables2 %}
{% block content %}
     <h1>My Stream History</h1><br>
      <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
     <div class="input-group mb-3">
          <input type="text" class="form-control" value="{{ streamkey }}" placeholder="Stream Key : " aria-label="Recipient's username" aria-describedby="basic-addon2" readonly="readonly">
           <div class="input-group-append">
           <input class="btn btn-outline-secondary" type="submit" value="Generate Stream Key!">
       </div>
     </div>
   </form>
{% render_table table %}
{% endblock content %}
